.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box .child{
    width: 400px;
    height: 580px;
    margin-left: 20px;
    border-radius: 53px;
    background: #E6B0FF;
}
.categoriesPositioning{
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
