.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.image{
    width: 420px;
    height: 580px;
    border-radius: 53px;
}

.button{
    width: 420px;
    height: 580px;
    border-radius: 53px;
    margin-left: 20px;
}
