/*contacts css file*/
p.Contacts{
    color: #ffffff;
    font: poppins;
    font-size: 60px;
    width: 75px;
    height: 50%;
    top: 80px;;
    left: 90px;
    bottom: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.container{
    display: flex;
    flex-direction: row;
}
.Column{
    background: #FFFFFF75;
    width: 310px;
    height: 500px;
    top: 500px;
    left: 50px;
    border-radius: 41px;
    margin-left: 10px;
}
.pictures{
    display: flex;
    background: #FFFFFF;
    justify-content: center;
    align-items: center;
    border-radius: 75%;
    overflow: hidden;
    width: 160px;
    height: 160px;
    top: 500px;
    left: 1113px;
    margin-top:20px;
    margin-left: 75px;
}
.center{
    display: flex;
    margin-top: 20px;
    margin: 0 auto;
}

.name{
    display: flex;
    color: #3E59E4;
    justify-content: center;
    margin-top: 20px;
    align-items: center;

}
html {
	font-size: 20px;
}
body {
	background-color: #ccc;
	padding: 50px;
	text-align: center;
}

/* Wrapper */
.icon-button {
    display: flex;
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin-right: 170px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
    margin-top: 10px;
}

/* Circle */
.icon-button span {
    display: flex;
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
    display: flex;
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.instagram span {
	background-color: maroon;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: black;
}

/* Icons */
.icon-button i {
    display: flex;
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
    margin-right: 50px;
}
.icon-button .icon-instagram {
	color: maroon;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-github {
	color: brown;
}
.icon-button:hover .icon-instagram,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-github {
	color: white;
}
.fblogo{
    width: 75px;
    height: 55px;
    margin-top: 9px;
    margin-right: 2px;
    margin-left: 3px;

}
.instalogo{
    width: 80px;
    height: 50px;
    margin-top: 12px;
    margin-right: 2px;
    margin-left: 3px;
}
.gitlogo{
    width: 80px;
    height: 50px;
    margin-top: 12px;
    margin-right: 2px;
    margin-left: 3px;
}