@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --light-purple-color: #8854C0;
    --light-color: #fff;
    --dark-color: #000;
    --grey-color: #f2f2f2;
    --transition: all .2s ease-in-out;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    background: linear-gradient(to right, #FC5C7D, #6A82FB);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.images {
    display: flex;
    gap: 20px;
justify-content: center;

}
.images img{
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    border-radius: 53px;
    background: #E6B0FF;
}
section {
    width: 90%;
    position: absolute;
    top: 40px;
}

.header {
    display: flex;
    justify-content: center;
    justify-content: space-between;

    cursor: pointer;
}
.logo {
    font-family: 'Kaisei Decol';
    color: #fff;
    font-size: 1.5rem;
}


.nav-right {
    display: flex;
    align-items: center;
}
.nav-right ul{
    display: flex;
    list-style: none;
}

.nav-right ul li a{
    margin-left: 20px;
    color: #ffffff;
    text-decoration: none;
    transition: .3s ease-in;
    scroll-behavior: smooth;
}
.nav-right ul li a:hover {
    color: #e7e7e7;
}

.nav-right .contact{
    margin-left: 20px;
    color: #3E59E4; 
    background-color: #fff;
    padding: 6px 13px;
    border-radius: 30px;
    box-shadow: inset 0 0 0.8em rgba(255,255,255,0.3), 0 0 0.8em rgba(255,255,255,0.3);
    border: #fff solid 2px;
    transition: .3s ease-in-out;
}

.nav-right .contact a {

    text-decoration: none;

}

.nav-right .contact:hover {
    transform: translateY(-2px);
    background-color: #fff;
    box-shadow: inset 0 0 0 rgba(255,255,255,0.3), 0 0 1.5em rgba(255,255,255,0.5);
}
.content {

    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 60px;

}

.content h1 {
    color: #fff;
    font-size: 3rem;
    margin: 0 0 20px 0;
    text-align: center;
}
.content .description {
    color: #fff;
    font-size: 16px;
    text-align: center;
    
}
.timer {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 40px;
    right: 50px;
    font-weight: bold;
}
wrapper{
    background-color: #fff;
    border-radius: 10px;
    padding: 60px;
    position: relative;
    width: 900px;
    height: 680px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 0px 6px 15px -1px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 6px 15px -1px rgba(0,0,0,0.3);
box-shadow: 0px 6px 15px -1px rgba(0,0,0,0.3);
}
.quiz-title{
    text-align: center;
    font-size: 2rem;
}
.quiz-score{
    text-align: right;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border: 5px solid var(--grey-color);
    font-weight: bold;
    width: 100px;
    height: 50px;
    margin: .5rem auto 1rem auto;
    color: var(--light-purple-color);
}
.quiz-score-flex {
    display: none;
}
.quiz-container
 {
    height: 550px;
    font-size: 25px;
    margin-bottom: 0px;
}
.quiz-question{
    height: 80px;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 500;

}
.quiz-question .category{
    font-size: 0.9rem;
    font-weight: 500;
    background-color: var(--light-purple-color);
    color: var(--light-color);
    padding: .2rem .4rem;
    border-radius: .2rem;
    margin-top: 0.5rem;
    display: inline-block;
}

.quiz-options{
    width: 100%;
    height: 75%;
    margin: 40px 0;
    display: flex;
    gap: 15px;
    flex-direction: column;
    list-style: none;


}
.quiz-options li{

    padding: 10px 0px;
    background-color: #6A82FB;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    border-bottom: 7px solid #5671f7;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.36);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.36);
    transition: var(--transition);
}
.quiz-options li:hover{
    background-color: var(--grey-color);
    color: var(--dark-color);
    border-color: var(--grey-color);
    box-shadow: 0 4px 0 0 #bbbbbb;
}
.quiz-options li:active{
    transform: scale(0.97);
}
/* js related */
.selected{
    background-color: var(--grey-color)!important;
    color: var(--dark-color)!important;
    border-color: var(--grey-color)!important;
    box-shadow: 0 4px 0 0 #bbbbbb!important;
}
.quiz-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

